/* src/components/Editor.scss */

.editor-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  padding-top: 40px; /* Creates space for buttons to appear at the top */
}

.editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  height: 20vh;
}

.CodeMirror {
  height: 300px; /* Adjust the height as needed */
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.button {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.clear {
  background-color: #d9534f;
}

.submit {
  background-color: #3B82F6;
}

.submit:hover {
  background-color: #2563EB;
}

.clear {
  background-color: #d9534f;
}

.clear:hover {
  background-color: #d02722 !important;
}


.tooltip-container-editor {
  position: relative;
}

.tooltip-container-editor .tooltip {
  font-size: 18px;
  right: 0px;
  top: 40px;
  z-index: 2;
}

.run:hover + .tooltip {
  display: block;
  opacity: 1;
}

.clear:hover + .tooltip {
  display: block;
  opacity: 1;
}

.submit:hover + .tooltip {
  display: block;
  opacity: 1;
}
